# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Temporary files
*.pyc
*.stackdump
*.swp
*~

# Visual studio files
*.opensdf
*.sdf
*.suo

# Log files
log_file.txt
log.txt

# Directories
.vs
Debug
Release
__pycache__
x64

